body {
	background-color: #3399ff;
}

.Analog-Sea-Logo {
	display: block;
	width: 200px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

.white-box {
	width: 400px;
	height: 450px;
	background-color: #ffffff;
	margin-right: auto;
	margin-left: auto;
} 
